.root
  text-align center
  margin-top 64px

.root>h1
  position: relative
  display inline-block
  overflow hidden
  margin 0 0 60px 0
  padding 70px 0 0 0
  width 434px
  height 0
  background url(../img/woogle-web-logo-splash.png) no-repeat
  background-size 434px 70px
