body
  padding-top 70px

*, h1, h2, h3, p, pre
  font-family 'Malgun Gothic', 'Dotum', sans-serif

.logo
  width 215px
  height 0
  margin 8px 18px 0 0
  padding 35px 0 0 0
  overflow hidden
  background url(/img/woogle-web-logo-splash.png) no-repeat
  background-size 217px 35px

.strip
  width 100%
  background #000000
  padding-top 2px

footer
  margin-top 64px
  text-align center
  
.dropdown-toggle>span
  font-size 16pt
  line-height 0

.jumbotron>h1
  font-size 25pt

.jumbotron>p
  font-size 13pt

.warn-dev
  font-weight bold
  font-size 24pt
  color red

.btn-arena-detail
  margin-left 24px

.tab-pane
  margin-top 16px

.event-day
  padding: 7px
