body {
  padding-top: 70px;
}
*,
h1,
h2,
h3,
p,
pre {
  font-family: 'Malgun Gothic', 'Dotum', sans-serif;
}
/*
.logo
  width 215px
  height 0
  margin 8px 18px 0 0
  padding 35px 0 0 0
  overflow hidden
  background url(/img/woogle-web-logo.png) no-repeat
  background-size 215px 35px
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    background url(../img/woogle-web-logo@2x.png) no-repeat
    background-size 215px 35px
*/
.strip {
  width: 100%;
  background: #000;
  padding-top: 2px;
}
footer {
  margin-top: 64px;
  text-align: center;
}
.dropdown-toggle>span {
  font-size: 16pt;
  line-height: 0;
}
.jumbotron>h1 {
  font-size: 25pt;
}
.jumbotron>p {
  font-size: 13pt;
}
.warn-dev {
  font-weight: bold;
  font-size: 24pt;
  color: #f00;
}
.btn-arena-detail {
  margin-left: 24px;
}
.tab-pane {
  margin-top: 16px;
}
