.container
  .page-header
    h1 일정
  .row
    .col-sm-9.calendar(ui-calendar='calendarConfig', ng-model='events', calendar='mainCalendar')
    .col-sm-3
      h3 {{ selectedDate | dateLocal }}
      .row
        .col-sm-12
          button.btn.btn-primary(ng-click='clickNew()') 추가
      .row
        p &nbsp;
      p(ng-show='!(events | selectByDate:selectedDate).length')
        | 일정이 없습니다.
      p.bg-info.event-day(ng-repeat='dayEvent in events | selectByDate:selectedDate', ng-click='clickDayEvent(dayEvent)')
        {{ dayEvent.title }}